<template>
  <div class="about">
    <h1>This is a home page</h1>
  </div>
</template>

<script>
export default {
  data: () => ({
    apiDomain: "http://localhost:8000",
    projects: [],
  }),

  created() {
    const config = {
      method: "get",
      url: this.apiDomain + "/api/project/",
    };

    this.axios(config)
      .then((response) => {
        let { projects } = response.data;
        this.projects = projects;

        console.log(projects);
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
